.cartMain {
  width: 100%;
  height: 100%;
}

.Container {
  width: 100%;
  height: 100%;
  // zoom: 1;
  position: relative;
  margin: 0 auto;
}

.btSection {
  height: 100%;
  width: 100%;
  max-width: 1050px;
  margin: 0px auto;
  float: none;
  padding: 0px 16px;
  border: 3px solid black;
}

.btwrap {
  width: 100%;
  text-align: center;

  h2 {
    padding: 52px 0 2px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
  }
}

.btlist {
  height: 100%;
  border-top: 0;
  border-bottom: none;
  font-size: 16px;
  color: #9a9a9a;
  padding: 14px 0 64px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.checkboxWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkboxInner {
  width: calc(100% - 316px - 42px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: 20px;

  .emptyCheckBox {
    width: 27px;
    height: 27px;
    background-size: 27px;
    cursor: pointer;
  }

  .allChoice {
    padding: 0px 16px 0px 8px;
    vertical-align: middle;
    color: #1c1c1c;
    cursor: pointer;
  }

  .checkboxInner > div {
    color: #1c1c1c;
  }

  div::before {
    content: '|';
    margin-right: 20px;
    color: #dddddd;
  }
}

.btlist .checkboxWrap > div {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.infoWrap {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

p.messageWed {
  display: flex;
  width: 100%;
  padding: 140px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #dddddd;
}

// .orderInfo {
//   display: flex;
//   width: 100%;
//   max-width: 316px;
//   flex-direction: column;
//   margin-left: 42px;
// }

// .bsTotalBox {
//   display: flex;
//   width: 100%;
//   max-width: 316px;
//   flex-direction: column;
//   background: #fbfafa;
//   padding: 23px 22px 42px;
// }

// .bsTotalPrice {
//   display: flex;
//   width: 100%;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 15px;
//   color: #1c1c1c;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 140%;
// }

// .bsDcPrice {
//   display: flex;
//   width: 100%;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   margin-bottom: 15px;
//   color: #1c1c1c;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 140%;
// }

// .bsDeliveryPrice {
//   display: flex;
//   width: 100%;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   margin-bottom: 15px;
//   color: #1c1c1c;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 140%;
// }

// .bsTotal {
//   display: flex;
//   width: 100%;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 15px;
//   border-top: #f4f4f4;
//   padding-top: 22px;
//   margin-top: 7px;
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 140%;
// }

// .bsChBtn {
//   width: 100%;
//   height: 62px;
//   min-height: 62px;
//   background: #dddedd;
//   color: #fff;
//   margin-top: 20px;
// }

// .couponAlram {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 140%;
//   color: #dddddd;
//   margin-top: 22px;
//   text-align: start;
// }
