.btn {
  width: 100%;
  font-weight: 400;
  cursor: pointer;

  &[shape='black'] {
    background-color: #000;
    color: #fff;
    font-size: 14px;
  }

  &[shape='white'] {
    background-color: #fff;
    font-size: 14px;
  }

  &[shape='yellow'] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe337;
  }

  &[shape='basketW'] {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    color: #ffffff;
    border: 1px solid #1a1a1a;
    font-size: 16px;
  }

  &[shape='basketB'] {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    color: #fff;
    background-color: #1c1c1c;
  }

  &[shape='paymentOff'] {
    height: 46px;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
  }

  &[shape='paymentB'] {
    margin: 0 auto;
    max-width: 316px;
    background-color: #1c1c1c;
    border: none;
    font-weight: 400;
    font-size: 16px;
  }

  &[shape='radioBtn'] {
  }

  // &[size='large'] {
  // }

  &[size='middle'] {
    display: flex;
    height: 56px;
    padding: 0;
    flex: 1;
    line-height: 56px;
    font-size: 16px;
  }

  &[size='smallW'] {
    height: 40px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #bcbcbc;
    line-height: 1;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
  }

  &[size='smallB'] {
    height: 40px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #bcbcbc;
    line-height: 1;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #000;
  }
}
