.btn {
  width: 100%;
  cursor: pointer;

  //로그인(로그인버튼)
  &[shape='black'] {
    background-color: #1c1c1c;
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  //로그인창(회원가입버튼)
  &[shape='white'] {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%; //상위 css 적용X
    letter-spacing: -0.02em;
    color: #1c1c1c;
  }

  //카카오톡 로그인 버튼
  &[shape='yellow'] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffe337; //확인용도, CSS기입X
  }

  //회원가입(주소검색)
  &[size='small'] {
    display: inline-block;
    padding: 12px 20px;
    height: 40px; //CSS적용X
    font-size: 13px; //CSS적용X
    border: 1px solid #bcbcbc; //CSS적용X
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #000; //CSS적용X
    background-color: #fff;

    //인증하기버튼 height
    height: 52px;
    border: 1px solid #1c1c1c;
    display: inline-block;
    padding: 12px 20px;
    margin-left: 10px;
    height: 52px;
    min-width: 131px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &[size='middle'] {
    display: flex;
    height: 56px;
    padding: 0;
    flex: 1;
    line-height: 56px;
    font-size: 16px;
  }

  //가입하기버튼
  &[size='middle'] {
    flex: 1;
    height: 56px;
    padding: 0;
    line-height: 56px;
    font-size: 16px;
  }

  //상세페이지(장바구니담기)
  &[size='middle'] {
    flex: 1;
    height: 55px; //CSS적용 X
    padding: 19px 0;
    font-size: 16px; //CSS적용 X
    letter-spacing: -0.025em;
    font-weight: 400;
    border: 1px solid #1c1c1c;
    color: #1c1c1c;
    border-radius: 5px; //CSS적용 X
  }

  //상세페이지(구매하기)
  &[size='middle'] {
    flex: 1;
    height: 55px; //CSS적용 X
    padding: 19px 0;
  }

  // &[size='smallW'] {
  //   height: 40px;
  //   display: inline-block;
  //   padding: 12px 20px;
  //   border: 1px solid #bcbcbc;
  //   line-height: 1;
  //   font-size: 13px;
  //   font-weight: normal;
  //   text-align: center;
  //   white-space: nowrap;
  //   color: #000;
  //   background-color: #fff;
  // }
  
  //장바구니 etc(회색)
  &[size='smallB'] {
    text-decoration: none;
    color: #1c1c1c;
    max-width: 93px;
    width: 100%;
    min-height: 26px;
    background-color: #dddddd;
    margin-top: 20px;
    align-self: flex-end;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
  }

  //장바구니구매하기 disabled
  &[shape='basketW'] {
    width: 100%;
    height: 62px;
    min-height: 62px ;
    background: #dddedd;
    color: #fff;
    margin-top: 20px;
  }

  //장바구니구매하기 활성화(검토)
  &[shape='basketB'] {
    display: block;
    margin: 10px 0 0;
    height: 56px;
    padding: 0;
    line-height: 56px;
    font-size: 16px;
  }
  //주문버튼 클릭시 모달창버튼 (더담기)
  &[size='middle'] {
    text-decoration: none;
    color: #1c1c1c;
    background: none;
    min-width: 50%;
    border: 1px solid #1c1c1c;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  ////주문버튼 클릭시 모달창버튼 (구매하기)
  &[size='middle'] {
    width: 100%;
    min-width: 80px;
    background: #1c1c1c;
    border: none;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    padding: 0;
  }

  //결제창(주소검색,쿠폰적용, 전액사용)
  &[size='small'] {
    position: static;
    min-width: 107px;
    max-width: 107px;
    height: 46px; //CSS적용X
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    margin-left: 12px;
  }

  //결제창 결제방식 선택(7가지 선택전)
  &[shape='paymentW'] {
    display: block;
    height: 46px;
    margin: 0;
    border: none;
    text-align: center; //CSS 적용X
    width: 100%;
    height: 46px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
  }

  //결제창 결제방식 선택(7가지 선택시)
  &[shape='paymentB'] {
    display: block;
    height: 46px;
    margin: 0;
    border: none;
    text-align: center; //CSS 적용X
    width: 100%;
    height: 46px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
    color: #fff;
    background: #1c1c1c;
  }

  //최종결제 버튼 disabled
  &[ex=''] {
    background-color: #dddd;
    margin: 0 auto;
    width: 100%
    max-width: 316px;
    height: 100%;
    border: none;
    font-weight: 400;
    font-size:16px;
    letter-spacing: -0.4px;
  }

  //최종결제 버튼 ON
  &[ex=''] {
    color: #fff
    background-color: #1c1c1c;
    margin: 0 auto;
    width: 100%
    max-width: 316px;
    height: 100%;
    border: none;
    font-weight: 400;
    font-size:16px;
    letter-spacing: -0.4px;
  }
}
