.deliveryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  margin: 30px 0px;
  padding: 20px 0px;
  .d {
    font-size: 19px;
    font-weight: 500;
  }
  .a {
    border-bottom: 1px solid #999999;
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .deliveryPrice {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .deliverySmallBox {
    display: flex;
    flex-direction: column;
    .b {
      font-size: 13px;
    }
  }
}
