.bannerBox {
  display: flex;
  width: 100%;
  max-height: 290px;
  column-gap: 20px;

  .bannerL {
    width: 60%;
  }

  .bannerR {
    width: 40%;
  }

  & img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}
