:root {
  --black: #1c1c1c;
  --gray: #999999;
  --white: #ffffff;
  --red: #ec2a1d;
  --yellow: #ffe337;
  --blue: #2d71f7;
  --font--blue: #0985df;
  --header--blue: #0077ed;
  --input--gray: #dddddd;
}
