.paymentMain {
  width: 100%;
  height: 100%;
}

.paymentSection {
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 120px;
  max-width: 970px;
}

.paymentOder {
  padding: 52px 0 50px;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #1c1c1c;
  // border: 3px solid #1c1c1c;
}

.sInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1c1c1c;

  h2 {
    margin: 20px 0px;
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 600;
    line-height: 27px;
  }
}

.firstP {
  width: 200px;
  margin-top: 13px;
}

.orderPhone {
  height: 43px;
  margin-top: 10px;
  border: 1px solid #d8d7d7;
}

.orderName {
  height: 43px;
  width: 500px;
  border: 1px solid #d8d7d7;
}
.fSection {
  border-bottom: 1px solid #d8d7d7;
  margin: 0 10px 100px;
}

.fInfo {
  text-align: center;
  padding: 32px 0;
}

.orderUserContainer {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #1c1c1c;
  padding: 20px 0;
  margin-bottom: 30px;

  h2 {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 500;
    line-height: 27px;
  }
}

.addressWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 700px;

  span {
    font-size: 16px;
    line-height: 140%;
    color: #1c1c1c;
    width: 200px;
  }
}
.addressCheck {
  span {
    margin-top: 10px;
  }
}
.userContents {
  max-width: 700px;
  margin-top: 100px;
}

.addressCheck {
  display: flex;
  flex-direction: row;
}
.userContentThree {
  margin-bottom: 100px;
  max-width: 700px;

  .addressName {
    display: flex;

    img {
      width: 10px;
      height: 10px;
    }
  }

  .topP {
    display: flex;
    max-width: 700px;

    p {
      margin-top: 10px;
      width: 700px;
    }
    img {
      width: 10px;
      height: 10px;
    }
  }
  .lastP {
    width: 500px;
    .orderPhone {
      max-width: calc((100% - 14px) / 3);
      border: 1px solid #d8d7d7;
    }
  }
}

.userContentTwo {
  max-width: 700px;
}

.addressPhoneName {
  padding-bottom: 8px;
  max-width: 700px;
}

.emailP {
  display: flex;
  width: 800px;
  height: 43px;

  .emailPMail {
    width: 242px;
    border: 1px solid #d8d7d7;
  }
}

.emailEx {
  padding-left: 80px;
  font-size: 5px;
}

.addressHm {
  display: flex;
  max-width: 700px;
  p {
    width: 200px;
    margin-top: 10px;
    img {
      width: 10px;
      height: 10px;
    }
  }
  .writeM {
    height: 43px;
    width: 500px;
    border: 1px solid #d8d7d7;
  }
}

.addressMap {
  display: flex;
  justify-content: flex-end;
  max-width: 700px;

  .mapSe {
    height: 43px;
    margin-right: 7px;
    width: 393px;
    margin-top: 10px;
    border: 1px solid #d8d7d7;
  }
  button {
    display: flex;
    width: 100px;
    margin-top: 10px;
    padding: 10px 18px 10px 19px;
    background-color: black;
    color: white;
    font-weight: 800;
  }
}

.addressPoint {
  max-width: 700px;
  display: flex;
  justify-content: row;
  p {
    width: 200px;
    margin-top: 10px;
    padding-top: 10px;
  }
  img {
    width: 10px;
    height: 10px;
  }
}
.addPoint {
  height: 43px;
  margin-top: 10px;
  width: 500px;
  border: 1px solid #d8d7d7;
}

.addPointOne {
  display: flex;
  height: 43px;
  margin-top: 10px;
  max-width: 700px;
  p {
    width: 200px;
  }
  .addPointTwo {
    width: 500px;
    border: 1px solid #d8d7d7;
  }
}

.addressPhone {
  max-width: 700px;
  display: flex;
  height: 43px;
  margin-top: 10px;

  p {
    width: 400px;
    padding-top: 12px;
    img {
      width: 10px;
      height: 10px;
    }
  }

  .phoneNum {
    width: 150px;
    margin-right: 8px;
    margin-left: 7px;
    border: 1px solid #d8d7d7;
  }
}

.addressPl {
  display: flex;
  margin-top: 10px;
  max-width: 700px;
  p {
    width: 200px;
    padding-top: 12px;
  }
  select {
    height: 43px;
    width: 500px;
    border: 1px solid #d8d7d7;
  }
}

.addressName {
  p {
    width: 200px;
  }
}

.addressChPoint {
  max-width: 700px;
  display: flex;

  p {
    width: 200px;
    margin-top: 13px;
  }

  .chPoint {
    height: 43px;
    width: 380px;
    margin-right: 10px;
    border: 1px solid #d8d7d7;
  }

  .pointRoding {
    display: flex;
    height: 44px;
    width: 100px;
    padding: 10px 18px 10px 19px;
    background-color: black;
    color: white;
    font-weight: 800;
  }
}

.priceNumber {
  padding-left: 200px;
  margin-top: 15px;
  color: #d8d7d7;
}

.lastButton {
  display: flex;
  justify-content: flex-end;
  width: 700px;
  margin-top: 60px;

  .paymentsButton {
    width: 280px;
    height: 50px;
    border: none;
    color: white;
    background-color: #1c1c1c;
    font-weight: 600;
    font-size: 17px;
  }
}
