.paymentMain {
  width: 100%;
  height: 100%;
}

.paymentSection {
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 120px;
  max-width: 970px;
  border: 3px solid #1c1c1c;
}

.paymentOder {
  padding: 52px 0 50px;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #1c1c1c;
  // border: 3px solid #1c1c1c;
}

.sInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1c1c1c;

  h2 {
    margin: 20px 0px;
  }
}

.fSection {
  border-bottom: 1px solid #d8d7d7;
  margin: 34px 10px;

  background-color: red;
}

.fInfo {
  text-align: center;
}
