.birthContainer {
  width: 100%;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & select {
    width: 100%;
  }

  .smallBox {
    max-width: 112px;
    height: 52px;
  }
}
