@import '../../../styles/variables.scss';
.birthContainer {
  width: 100%;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & select {
    width: 100%;
    max-width: 112px;
    height: 52px;
    border: 1px solid var(--input--gray);
  }
}
