.phoneContainer {
  width: 100%;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & select {
    width: 100%;
  }

  .phone1,
  .phone2,
  .phone3 {
    max-width: calc(100% / 3);
    height: 52px;
  }
}
